@model BookList.Domain.Models.Book
@{
    ViewData["Title"] = "Create";
}

<br />
<h2 class="text-info">Create new book</h2>
<br />

<div class="border container" style="padding:30px">
    <form asp-action="Create" method="post">

        <partial name="_Form" />

        <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="submit" value="Create" class="btn btn-primary form-control" />
            </div>

            <div class="col-3">
                <a class="btn btn-success form-control" asp-action="Index">Back to list</a>
            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
